build/
dev/
bin/
dist/
bin-groovy/
.svn/
.metadata/
.idea/
*.class
*.bak
*.log
*.ipr
*.iws
*.iml
*.eml
*.ids
*.classpath
*.war
Thumbs.db
.idea
.project
environmentLocator.properties
rebel.xm
*.properties
