<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Test">
    <parameter name="BaseURL" value="http://www.localsmokehk.com"/>
    <parameter name="Browser" value="firefox"/>
    <test name="ExistingUserOrderCard">
        <classes>
            <class name="orderPlacement.ExistingUserOrderCard"/>
        </classes>
    </test>
<!--    <test name="ExistingUserOrderCOD">
        <classes>
            <class name="orderPlacement.ExistingUserOrderCOD"/>
        </classes>
    </test>
    <test name="SignUpAndOrderCard">
        <classes>
            <class name="orderPlacement.SignUpAndOrderCard"/>
        </classes>
    </test>
    <test name="SignUpAndOrderCOD">
        <classes>
            <class name="orderPlacement.SignUpAndOrderCOD"/>
        </classes>
    </test>-->
</suite>